

{% extends 'pages/base.html' %}
{% load static %}
{% block body %}
    <div class="body">
        <div style="background-image: url({% static 'img/cafe_first.jpg' %});" class="body-img"></div>
        
        <div class="body-box">
            <div class="grid wide">
                <div class="body-box_header">
                    <h3 class="body-box_title">
                        Danh mục sản phẩm
                    </h3>
                </div>
                <ul class="row body-box-cover style">
                    {% for product in products %}
                        <li class="col l-3 m-6 c-6">
                            <div class="body-box-cover_box">
                                <a href="#" class="body-box-cover_link">
                                    <img src="{% static 'img/{{ product.url_image }}' %}" alt="" class="body-box-cover_img">
                                </a>
                            </div>
                            <div class="body-box-cover_box">
                                <a href="#" class="body-menu_namecafe decoration cl-black">{{ product.NameProduct }}</a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        
        <!-- choose -->
        <div style="background-image: url({% static 'img/10-quan-ca-phe-moi-o-sai-gon-de-song-ao-85.webp' %});" class="cl-white body-box-choose_img body-choose">
            <div class="grid wide">
                <div class="body-box_header">
                    <h3 class="body-box_title">
                        Tại sao chọn chúng tôi
                    </h3>
                </div>
                <div class="body-box-choose_desc">
                    Với những nghệ nhân rang tâm huyết và đội ngũ tài năng cùng những câu chuyện cafe đầy cảm hứng, ngôi nhà Bermada cafe là không gian dành riêng cho những ai trót yêu say đắm hương vị của những hạt cafe nguyên bản tuyệt hảo.
                </div>
                <ul class="row body-box-choose_list style">
                    <li class="col l-4 m-6 c-12 body-box-choose_item">
                        <img src="{% static 'img/icon_why_1.webp' %}" alt="">
                        <h3 class="body-box-choose_title cl-black">
                            Giá:  cả phải chăng
                        </h3>   
                        <span class="body-box-choose_promise">
                            Cam kết chỉ cung cấp cà phê có nguồn gốc được kiểm soát chất lượng
                        </span>
                    </li>
                    <li class="col l-4 m-6 c-12 body-box-choose_item">
                        <img src="{% static 'img/icon_why_2.webp' %}" alt="">
                        <h3 class="body-box-choose_title cl-black">
                            Hường vị tuyệt hảo
                        </h3>   
                        <span class="body-box-choose_promise">
                            Những đọt trà được lựa chọn cẩn thận ngay từ lúc đang ngâm mình trong sương
                        </span>
                    </li>
                    <li class="col l-4 m-6 c-12 body-box-choose_item">
                        <img src="{% static 'img/icon_why_3.webp' %}" alt="">
                        <h3 class="body-box-choose_title cl-black">
                            Sản phẩm tự nhiên
                        </h3>   
                        <span class="body-box-choose_promise">
                            Cam kết chỉ cung cấp lá trà có nguồn gốc được kiểm soát chất lượng chặt
                        </span>
                    </li>
                </ul>
            </div>
        </div>
        <!-- menu -->
        <div class="body-menu">
            <div class="grid wide">
                <div class="body-box_header">
                    <h3 class="body-box_title">
                        Menu hôm nay
                    </h3>
                </div>
                
                <ul class="body-box-menu_list style">
                    <li class="body-box-menu_item">
                        <a class="body-box-menu_link body-box-menu_link--click decoration cl-black" href="#">
                            Cafe nâu đen
                        </a>
                    </li>
                    <li class="body-box-menu_item">
                        <a class="body-box-menu_link decoration cl-black" href="#">
                            Cafe sữa
                        </a>
                    </li>
                    <li class="body-box-menu_item">
                        <a class="body-box-menu_link decoration cl-black" href="#">
                            Cafe đen
                        </a>
                    </li>
                    <li class="body-box-menu_item">
                        <a class="body-box-menu_link decoration cl-black" href="#">
                            Cafe capuchino
                        </a>
                    </li>
                </ul>
                
                <ul class="row body-menu_list style">
                    <li class="col l-3 m-4 c-6 body-menu_item">
                        <a href="" class="body-menu_linkcafe decoration cl-black">
                            <div class="body-menu_background">
                                <img src="{% static 'img/img-collection1_f2fef799a4e449a3afb8efad867b176c_master.webp' %}" alt="" class="body-menu_img">
                            </div>
                            <div class="body-menu_box">
                                <h3 class="body-menu_namecafe">
                                    Cafe capuchino
                                </h3>
                                <div class="body-menu_price">
                                    <p class="body-menu_title">Giá: </p>
                                    <div class="body-menu_money">40.000đ</div>
                                </div>
                            </div>
                        </a>
                        <div class="body-menu_modalcart">
                            <button class="body-menu_btncart js-btn-cart">Thêm vào giỏ hàng</button>
                        </div>
                    </li>
                    <li class="col l-3 m-4 c-6 body-menu_item">
                        <a href="" class="body-menu_linkcafe decoration cl-black">
                            <div class="body-menu_background">
                                <img src="{% static 'img/img-collection1_f2fef799a4e449a3afb8efad867b176c_master.webp' %}" alt="" class="body-menu_img">
                            </div>
                            <div class="body-menu_box">
                                <h3 class="body-menu_namecafe">
                                    Cafe capuchino
                                </h3>
                                <div class="body-menu_price">
                                    <p class="body-menu_title">Giá: </p>
                                    <div class="body-menu_money">40.000đ</div>
                                </div>
                            </div>
                        </a>
                        <div class="body-menu_modalcart">
                            <button class="body-menu_btncart js-btn-cart">Thêm vào giỏ hàng</button>
                        </div>
                    </li>
                    <li class="col l-3 m-4 c-6 body-menu_item">
                        <a href="" class="body-menu_linkcafe decoration cl-black">
                            <div class="body-menu_background">
                                <img src="{% static 'img/img-collection1_f2fef799a4e449a3afb8efad867b176c_master.webp' %}" alt="" class="body-menu_img">
                            </div>
                            <div class="body-menu_box">
                                <h3 class="body-menu_namecafe">
                                    Cafe capuchino
                                </h3>
                                <div class="body-menu_price">
                                    <p class="body-menu_title">Giá: </p>
                                    <div class="body-menu_money">40.000đ</div>
                                </div>
                            </div>
                        </a>
                        <div class="body-menu_modalcart">
                            <button class="body-menu_btncart js-btn-cart">Thêm vào giỏ hàng</button>
                        </div>
                    </li>
                    <li class="col l-3 m-4 c-6 body-menu_item">
                        <a href="" class="body-menu_linkcafe decoration cl-black">
                            <div class="body-menu_background">
                                <img src="{% static 'img/img-collection1_f2fef799a4e449a3afb8efad867b176c_master.webp' %}" alt="" class="body-menu_img">
                            </div>
                            <div class="body-menu_box">
                                <h3 class="body-menu_namecafe">
                                    Cafe capuchino
                                </h3>
                                <div class="body-menu_price">
                                    <p class="body-menu_title">Giá: </p>
                                    <div class="body-menu_money">40.000đ</div>
                                </div>
                            </div>
                        </a>
                        <div class="body-menu_modalcart">
                            <button class="body-menu_btncart js-btn-cart">Thêm vào giỏ hàng</button>
                        </div>
                    </li>
                    <li class="col l-3 m-4 c-6 body-menu_item">
                        <a href="" class="body-menu_linkcafe decoration cl-black">
                            <div class="body-menu_background">
                                <img src="{% static 'img/img-collection1_f2fef799a4e449a3afb8efad867b176c_master.webp' %}" alt="" class="body-menu_img">
                            </div>
                            <div class="body-menu_box">
                                <h3 class="body-menu_namecafe">
                                    Cafe capuchino
                                </h3>
                                <div class="body-menu_price">
                                    <p class="body-menu_title">Giá: </p>
                                    <div class="body-menu_money">40.000đ</div>
                                </div>
                            </div>
                        </a>
                        <div class="body-menu_modalcart">
                            <button class="body-menu_btncart js-btn-cart">Thêm vào giỏ hàng</button>
                        </div>
                    </li>
                    <li class="col l-3 m-4 c-6 body-menu_item">
                        <a href="" class="body-menu_linkcafe decoration cl-black">
                            <div class="body-menu_background">
                                <img src="{% static 'img/img-collection1_f2fef799a4e449a3afb8efad867b176c_master.webp' %}" alt="" class="body-menu_img">
                            </div>
                            <div class="body-menu_box">
                                <h3 class="body-menu_namecafe">
                                    Cafe capuchino
                                </h3>
                                <div class="body-menu_price">
                                    <p class="body-menu_title">Giá: </p>
                                    <div class="body-menu_money">40.000đ</div>
                                </div>
                            </div>
                        </a>
                        <div class="body-menu_modalcart">
                            <button class="body-menu_btncart js-btn-cart">Thêm vào giỏ hàng</button>
                        </div>
                    </li>
                    <li class="col l-3 m-4 c-6 body-menu_item">
                        <a href="" class="body-menu_linkcafe decoration cl-black">
                            <div class="body-menu_background">
                                <img src="{% static 'img/img-collection1_f2fef799a4e449a3afb8efad867b176c_master.webp' %}" alt="" class="body-menu_img">
                            </div>
                            <div class="body-menu_box">
                                <h3 class="body-menu_namecafe">
                                    Cafe capuchino
                                </h3>
                                <div class="body-menu_price">
                                    <p class="body-menu_title">Giá: </p>
                                    <div class="body-menu_money">40.000đ</div>
                                </div>
                            </div>
                        </a>
                        <div class="body-menu_modalcart">
                            <button class="body-menu_btncart js-btn-cart">Thêm vào giỏ hàng</button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        
        <!-- time -->
        <div class="body-box">
            <div class="grid wide">
                <div class="row no-gutter body-time">
                    <div class="col l-6 m-6 c-6 body-time-open">
                        <div class="body-time_box">
                            <div class="body-time_schedule">
                                <div class="body-time_header cl-white">
                                    <h3 class="body-time_title">
                                        Thời gian mở cửa
                                    </h3>
                                    <p class="body-time_desc">
                                        “Cà phê nhé" - Một lời hẹn rất riêng của người Việt. Một lời ngỏ mộc mạc để mình ngồi lại bên nhau và sẻ chia câu chuyện của riêng mình.
                                    </p>
                                </div>
                                <div class="body-time_hour cl-white">
                                    <span class="body-time_houropen">
                                        T2 - T6: 8h30 - 21h30
                                    </span>
                                    <span class="body-time_houropen">
                                        T7 - CN: 8h00 - 22h00
                                    </span>
                                </div>
                                <div class="body-time_reservation">
                                    <a href="#" class="cl-white decoration body-time_reservation-link">
                                        Đặt bàn ngay
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col l-6 m-6 c-6 body-time-open">
                        <div class="body-time-open_img" style="background-image: url({% static 'img/img_background.jpg' %});"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- news -->
        <div class="body-box">
            <div class="grid wide">
                <div class="body-news">
                    <div class="body-box_header">
                        <a href="#" class="body-box_title decoration cl-black">
                            Menu hôm nay
                        </a>
                    </div>
                    <ul class="row body-news_group style">
                        <li class="col l-4 m-6 c-12 body-news_member">
                            <div class="body-news_box">
                                <a href="#" class="decoration cl-black body-news_imglink">
                                    <div class="body-news_img" style="background-image: url({% static 'img/cafe_natutive.jpg' %});"></div>
                                </a>
                                <a href="#" class="decoration cl-black body-news_titlelink">
                                    Nhâm nhi cà phê bao lâu nhưng bạn tận mắt nhìn kỹ xem hạt cà phê chưa?
                                </a>
                                <p class="body-news_desc">Cốc cafe vị đăng đắng, lẫn thêm chút ngọt bùi của sữa đặc sao mà gây nghiện đến thế. Không chỉ cuốn hút ở mùi vị, một cốc cafe sáng còn giúp ngày mới tràn đầy năng lượng với người trẻ, sẵn sàng cho...</p>
                            </div>
                        </li>
                        <li class="col l-4 m-6 c-12 body-news_member">
                            <div class="body-news_box">
                                <a href="#" class="decoration cl-black body-news_imglink">
                                    <div class="body-news_img" style="background-image: url({% static 'img/cafe_natutive.jpg' %});"></div>
                                </a>
                                <a href="#" class="decoration cl-black body-news_titlelink">
                                    Nhâm nhi cà phê bao lâu nhưng bạn tận mắt nhìn kỹ xem hạt cà phê chưa?
                                </a>
                                <p class="body-news_desc">Cốc cafe vị đăng đắng, lẫn thêm chút ngọt bùi của sữa đặc sao mà gây nghiện đến thế. Không chỉ cuốn hút ở mùi vị, một cốc cafe sáng còn giúp ngày mới tràn đầy năng lượng với người trẻ, sẵn sàng cho...</p>
                            </div>
                        </li>
                        <li class="col l-4 m-6 c-12 body-news_member">
                            <div class="body-news_box">
                                <a href="#" class="decoration cl-black body-news_imglink">
                                    <div class="body-news_img" style="background-image: url({% static 'img/cafe_natutive.jpg' %});"></div>
                                </a>
                                <a href="#" class="decoration cl-black body-news_titlelink">
                                    Nhâm nhi cà phê bao lâu nhưng bạn tận mắt nhìn kỹ xem hạt cà phê chưa?
                                </a>
                                <p class="body-news_desc">Cốc cafe vị đăng đắng, lẫn thêm chút ngọt bùi của sữa đặc sao mà gây nghiện đến thế. Không chỉ cuốn hút ở mùi vị, một cốc cafe sáng còn giúp ngày mới tràn đầy năng lượng với người trẻ, sẵn sàng cho...</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- list img -->
        <div class="body-box">
            <div class="grid">
                <ul class="row no-gutter style body-listimg">
                    <li class="col l-2-5 m-4 c-6">
                        <a href="#" class="body-listimg_link">
                            <div class="body-listimg_img" style="background-image: url({% static 'img/cafe_natutive.jpg' %});"></div>
                        </a>
                    </li>
                    <li class="col l-2-5 m-4 c-6">
                        <a href="#" class="body-listimg_link">
                            <div class="body-listimg_img" style="background-image: url({% static 'img/cafe_natutive.jpg' %});"></div>
                        </a>
                    </li>
                    <li class="col l-2-5 m-4 c-6">  
                        <a href="#" class="body-listimg_link">
                            <div class="body-listimg_img" style="background-image: url({% static 'img/cafe_natutive.jpg' %});"></div>
                        </a>
                    </li>
                    <li class="col l-2-5 m-4 c-6">
                        <a href="#" class="body-listimg_link">
                            <div class="body-listimg_img" style="background-image: url({% static 'img/cafe_natutive.jpg' %});"></div>
                        </a>
                    </li>
                    <li class="col l-2-5 m-4 c-6">
                        <a href="#" class="body-listimg_link">
                            <div class="body-listimg_img" style="background-image: url({% static 'img/cafe_natutive.jpg' %});"></div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="form js-form">
        <div class="form-order js-form-order">
            <div class="form-order_frame">
                <h3 class="form-order_header">
                    Cafe Cupuchino
                </h3>
                <div class="form-order_covericon js-form-close">
                    <i class="form-order_icon fa-solid fa-xmark"></i>
                </div>
            </div>
            <form action="" class="form-order-product">
                <!-- <div class="form-order-product_box">
                    <div class="form-order-product_title">
                        Đơn vị tính
                    </div>
                    <ul class="form-order-product_list style">
                        <li class="form-order-product_item">
                            <input id="size_L"  type="radio" name="radio" class="form-order-product_choose">
                            <label for="size_L" class="form-order-product_type">Size L - 38.000₫</label>
                        </li>
                        <li class="form-order-product_item">
                            <input id="size_M"  type="radio" name="radio" class="form-order-product_choose">
                            <label for="size_M" class="form-order-product_type">Size L - 38.000₫</label>
                        </li>
                        <li class="form-order-product_item">
                            <input id="size_C"  type="radio" name="radio" class="form-order-product_choose">
                            <label for="size_C" class="form-order-product_type">Size L - 38.000₫</label>
                        </li>
                        <li class="form-order-product_item">
                            <input id="size_D"  type="radio" name="radio" class="form-order-product_choose">
                            <label for="size_D" class="form-order-product_type">Size L - 38.000₫</label>
                        </li>
                    </ul>
                </div>
                <div class="form-order-product_box">
                    <div class="form-order-product_title">
                        Tỷ lệ đá
                    </div>
                    <ul class="form-order-product_list style">
                        <li class="form-order-product_item">
                            <input id="ice_full"  type="radio" name="radio" class="form-order-product_choose">
                            <label for="ice_full" class="form-order-product_type">100% Đá - ₫0</label>
                        </li>
                        <li class="form-order-product_item">
                            <input id="ice_medium"  type="radio" name="radio" class="form-order-product_choose">
                            <label for="ice_medium" class="form-order-product_type">70% Đá - ₫0</label>
                        </li>
                        <li class="form-order-product_item">
                            <input id="ice_half"  type="radio" name="radio" class="form-order-product_choose">
                            <label for="ice_half" class="form-order-product_type">50% Đá - ₫0</label>
                        </li>
                        <li class="form-order-product_item">
                            <input id="ice_emty"  type="radio" name="radio" class="form-order-product_choose">
                            <label for="ice_emty" class="form-order-product_type">0% Đá - ₫0</label>
                        </li>
                    </ul>
                </div>
                <div class="form-order-product_box">
                    <div class="form-order-product_title">
                        Tỷ lệ đường
                    </div>
                    <ul class="form-order-product_list style">
                        <li class="form-order-product_item">
                            <input id="suger_full"  type="radio" name="radio" class="form-order-product_choose">
                            <label for="suger_full" class="form-order-product_type">100% Đường - ₫0</label>
                        </li>
                        <li class="form-order-product_item">
                            <input id="suger_medium"  type="radio" name="radio" class="form-order-product_choose">
                            <label for="suger_medium" class="form-order-product_type">70% Đường - ₫0</label>
                        </li>
                        <li class="form-order-product_item">
                            <input id="suger_half"  type="radio" name="radio" class="form-order-product_choose">
                            <label for="suger_half" class="form-order-product_type">50% Đường - ₫0</label>
                        </li>
                        <li class="form-order-product_item">
                            <input id="suger_emty"  type="radio" name="radio" class="form-order-product_choose">
                            <label for="suger_emty" class="form-order-product_type">0% Đường - ₫0</label>
                        </li>
                    </ul>
                </div> -->
                <div class="form-order-product_box">
                    <div class="form-order-product_title">
                        Tùy chọn thêm
                    </div>
                    <div class="form-order-product_other">
                        Chọn tối đa  5
                    </div>
                    <ul class="form-order-product_list style">
                        {% for data in product_order %}
                            <li class="form-order-product_item form-order-product_itemfull">
                                <input id="cake"  type="checkbox" class="form-order-product_choose">
                                <label for="cake" class="form-order-product_type">{{ data.NameProduct }} - ₫{{ data.Price }}</label>
                                <span class="form-order-product_count">x1</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="form-order-product_box">
                    <textarea name="message" id="message" cols="30" rows="10" placeholder="Thêm lời nhắn đến cửa hàng"></textarea>
                </div>
                
            </form>

            <div class="form-order_frombuy">
                <div class="form-order_boxnumber">
                    <div class="form-order_minus">
                        <i class="form-order_changenumber-icon fa-solid fa-minus"></i>
                    </div>
                    <span class="form-order_number">1</span>
                    <div class="form-order_plus">
                        <i class="form-order_changenumber-icon fa-solid fa-plus"></i>
                    </div>
                </div>
                <div class="form-order_boxbuy">
                    <a href="#" class="form-order_buy decoration cl-white">Chọn mua</a>
                </div>
            </div>
        </div>
    </div>

{% endblock  %}