{% extends "pages/base.html" %}

{% load static %}

{% block body %}
    <div class="grid wide body-login">
        <div class="header-navbar">
            <div class="header-navbar">
                <a href="/" class="decoration header-navbar_home">Trang chủ</a>
            </div>
            <div class="header-navbar">
                /
            </div>
            <div class="header-navbar">
                <a href="/Login" class="decoration header-navbar_now cl-base">Đăng nhập tài khoản</a>
            </div>
        </div>
        <div class="body-login-box">
            <div class="body-login-box_header">
                <h3 class="body-login-box_title">Đăng nhập</h3>
                <p class="body-login-box_desc">Nếu bạn chưa có tài khoản, đăng ký tại đây</p>
            </div>

            <form action="{% url 'Home:Login' %}" method="POST">
                {% csrf_token %}
                <div class="form-login">
                    <input name="email" id="email" type="text" placeholder="Email">
                    <input name="password" id="password" type="password" placeholder="Mật khẩu">
                    <input id="btn" type="submit" value="Đăng nhập">
                </div>
            </form>
            <div class="body-login-box_different">
                <div class="body-login-box_forget">
                    <a href="#" class="decoration body-login-box_link">
                        Quên mật khẩu
                    </a>
                </div>
                <div class="body-login-box_restore">
                    Hoặc đăng nhập bằng
                </div>
                <div class="body-login-box_new">
                    <a href="" class="decoration body-login-box_iconlink">
                        <img src="{% static 'img/fb-btn.svg' %}" alt="">
                    </a>
                    <a href="" class="decoration body-login-box_iconlink">
                        <img src="{% static 'img/gp-btn.svg' %}" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock  %}