
{% extends "pages/base.html" %}
{% load static %}

{% block body %}
    <!-- produce -->
    <div class="form-navbar">
        <div class="grid wide">
            <div class="header-navbar">
                <div class="header-navbar">
                    <a href="/" class="decoration header-navbar_home">Trang chủ</a>
                </div>
                <div class="header-navbar">
                    /
                </div>
                <div class="header-navbar">
                    <a href="/Product" class="decoration header-navbar_now cl-base">Sản phẩm</a>
                </div>
            </div>
            <div class="header-produce">
                Tất cả sản phẩm
            </div>
            
            <ul class="row body-menu_list style">
                <li class="col l-3 m-4 c-6 body-menu_item">
                    <a href="" class="body-menu_linkcafe decoration cl-black">
                        <div class="body-menu_background">
                            <img src="{% static 'img/img-collection1_f2fef799a4e449a3afb8efad867b176c_master.webp' %}" alt="" class="body-menu_img">
                        </div>
                        <div class="body-menu_box">
                            <h3 class="body-menu_namecafe">
                                Cafe capuchino
                            </h3>
                            <div class="body-menu_price">
                                <p class="body-menu_title">Giá: </p>
                                <div class="body-menu_money">40.000đ</div>
                            </div>
                        </div>
                    </a>
                    <div class="body-menu_modalcart">
                        <button class="body-menu_btncart js-btn-cart">Thêm vào giỏ hàng</button>
                    </div>
                </li>
                <li class="col l-3 m-4 c-6 body-menu_item">
                    <a href="" class="body-menu_linkcafe decoration cl-black">
                        <div class="body-menu_background">
                            <img src="{% static 'img/img-collection1_f2fef799a4e449a3afb8efad867b176c_master.webp' %}" alt="" class="body-menu_img">
                        </div>
                        <div class="body-menu_box">
                            <h3 class="body-menu_namecafe">
                                Cafe capuchino
                            </h3>
                            <div class="body-menu_price">
                                <p class="body-menu_title">Giá: </p>
                                <div class="body-menu_money">40.000đ</div>
                            </div>
                        </div>
                    </a>
                    <div class="body-menu_modalcart">
                        <button class="body-menu_btncart js-btn-cart">Thêm vào giỏ hàng</button>
                    </div>
                </li>
                <li class="col l-3 m-4 c-6 body-menu_item">
                    <a href="" class="body-menu_linkcafe decoration cl-black">
                        <div class="body-menu_background">
                            <img src="{% static 'img/img-collection1_f2fef799a4e449a3afb8efad867b176c_master.webp' %}" alt="" class="body-menu_img">
                        </div>
                        <div class="body-menu_box">
                            <h3 class="body-menu_namecafe">
                                Cafe capuchino
                            </h3>
                            <div class="body-menu_price">
                                <p class="body-menu_title">Giá: </p>
                                <div class="body-menu_money">40.000đ</div>
                            </div>
                        </div>
                    </a>
                    <div class="body-menu_modalcart">
                        <button class="body-menu_btncart js-btn-cart">Thêm vào giỏ hàng</button>
                    </div>
                </li>
                <li class="col l-3 m-4 c-6 body-menu_item">
                    <a href="" class="body-menu_linkcafe decoration cl-black">
                        <div class="body-menu_background">
                            <img src="{% static 'img/img-collection1_f2fef799a4e449a3afb8efad867b176c_master.webp' %}" alt="" class="body-menu_img">
                        </div>
                        <div class="body-menu_box">
                            <h3 class="body-menu_namecafe">
                                Cafe capuchino
                            </h3>
                            <div class="body-menu_price">
                                <p class="body-menu_title">Giá: </p>
                                <div class="body-menu_money">40.000đ</div>
                            </div>
                        </div>
                    </a>
                    <div class="body-menu_modalcart">
                        <button class="body-menu_btncart js-btn-cart">Thêm vào giỏ hàng</button>
                    </div>
                </li>
                <li class="col l-3 m-4 c-6 body-menu_item">
                    <a href="" class="body-menu_linkcafe decoration cl-black">
                        <div class="body-menu_background">
                            <img src="{% static 'img/img-collection1_f2fef799a4e449a3afb8efad867b176c_master.webp' %}" alt="" class="body-menu_img">
                        </div>
                        <div class="body-menu_box">
                            <h3 class="body-menu_namecafe">
                                Cafe capuchino
                            </h3>
                            <div class="body-menu_price">
                                <p class="body-menu_title">Giá: </p>
                                <div class="body-menu_money">40.000đ</div>
                            </div>
                        </div>
                    </a>
                    <div class="body-menu_modalcart">
                        <button class="body-menu_btncart js-btn-cart">Thêm vào giỏ hàng</button>
                    </div>
                </li>
                <li class="col l-3 m-4 c-6 body-menu_item">
                    <a href="" class="body-menu_linkcafe decoration cl-black">
                        <div class="body-menu_background">
                            <img src="{% static 'img/img-collection1_f2fef799a4e449a3afb8efad867b176c_master.webp' %}" alt="" class="body-menu_img">
                        </div>
                        <div class="body-menu_box">
                            <h3 class="body-menu_namecafe">
                                Cafe capuchino
                            </h3>
                            <div class="body-menu_price">
                                <p class="body-menu_title">Giá: </p>
                                <div class="body-menu_money">40.000đ</div>
                            </div>
                        </div>
                    </a>
                    <div class="body-menu_modalcart">
                        <button class="body-menu_btncart js-btn-cart">Thêm vào giỏ hàng</button>
                    </div>
                </li>
                <li class="col l-3 m-4 c-6 body-menu_item">
                    <a href="" class="body-menu_linkcafe decoration cl-black">
                        <div class="body-menu_background">
                            <img src="{% static 'img/img-collection1_f2fef799a4e449a3afb8efad867b176c_master.webp' %}" alt="" class="body-menu_img">
                        </div>
                        <div class="body-menu_box">
                            <h3 class="body-menu_namecafe">
                                Cafe capuchino
                            </h3>
                            <div class="body-menu_price">
                                <p class="body-menu_title">Giá: </p>
                                <div class="body-menu_money">40.000đ</div>
                            </div>
                        </div>
                    </a>
                    <div class="body-menu_modalcart">
                        <button class="body-menu_btncart js-btn-cart">Thêm vào giỏ hàng</button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
{% endblock  %}