{% extends './baseStaff.html' %} {% block body %}
<div class="row page-titles mx-0">
    <div class="col p-md-0">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
        </ol>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">List Revenue</h4>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped verticle-middle">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Product</th>
                                    <th scope="col">Total</th>
                                    <th scope="col">Total Price</th>
                                    <th scope="col">Date Time</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% csrf_token %} {% for orderDetail in result_orderDetail %}
                                <tr>
                                    <td>{{ orderDetail.id }}</td>
                                    <td>
                                        {% for product in result_order %}
                                        <span style="display: block">
                                            {{ product.Name_Product }}
                                            <b style="color: #7571f9">x{{ product.Number}}</b>
                                        </span>
                                        {% endfor %}
                                    </td>
                                    <td>{{ orderDetail.Number }}</td>
                                    <td>{{ orderDetail.Price_Total }}</td>
                                    <td>{{ orderDetail.DateTime }}</td>
                                    <td>
                                        <span>
                                            <a href="{% url 'Staff:updatesales' orderDetail.id %}" data-toggle="tooltip" data-placement="top" title="Confirm"
                                                ><i class="fa fa-pencil color-muted m-r-5"></i>
                                            </a>
                                            <a href="#" data-toggle="tooltip" data-placement="top" title="Close">
                                                <i class="fa fa-trash color-danger"> </i
                                            ></a>
                                        </span>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
