{% extends './baseStaff.html' %}

{% block body %}
    <div class="row page-titles mx-0">
        <div class="col p-md-0">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Addproduct</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
            </ol>
        </div>
    </div>
    <!-- row -->

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="form-validation">
                            <!-- <form class="form-valide" action="" method="post"> -->
                                {% csrf_token %}
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="firstname">First Name<span class="text-danger"></span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input readonly type="text" class="form-control" id="firstname" name="firstname" value="{{ staff.Fisrt_Name }}">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="lastname">Last Name<span class="text-danger"></span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input readonly type="text" class="form-control" id="lastname" name="lastname" value="{{ staff.Last_Name }}">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="date">Birthday<span class="text-danger"></span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input readonly type="date" class="form-control" id="date" name="date" value="{{ staff.Date }}">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="email">Email<span class="text-danger"></span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input readonly type="text" class="form-control" id="email" name="email" value="{{ staff.Email }}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="numberphone">Phonenumber<span class="text-danger"></span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input readonly type="text" class="form-control" id="numberphone" name="numberphone" value="{{ staff.Phone_Number }}">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="val-email">Permission<span class="text-danger"></span>
                                    </label>
                                    <div class="col-lg-6">
                                        <select readonly class="form-control" id="val-skill" name="val-skill">
                                            <option value="1">Staff</option>
                                        </select>
                                    </div>
                                </div>

                                <!-- <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="password">Password<span class="text-danger"></span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="password" class="form-control" id="password" name="password" value="{{ staff.Pass_Word }}">
                                    </div>
                                </div> -->

                                <div class="form-group row">
                                    <div class="col-lg-8 ml-auto">
                                        <a href="{% url 'Staff:staffaccounts' %}">
                                            <button type="submit" class="btn btn-primary">Quay lại</button>
                                        </a>
                                    </div>
                                </div>
                            <!-- </form> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}