{% extends './baseAdmin.html' %} {% block body %}
<div class="row page-titles mx-0">
    <div class="col p-md-0">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Addproduct</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
        </ol>
    </div>
</div>
<!-- row -->

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="form-validation">
                        <form class="form-valide" action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group row">
                                <label class="col-lg-4 col-form-label" for="nameproduct">Name Product<span class="text-danger">*</span> </label>
                                <div class="col-lg-6">
                                    {% for result in result_order %}
                                        {% for data in result %} 
                                        <span style="display: block">
                                            {{ data.Name_Product }}
                                            <b style="color: #7571f9">x{{ data.Number}}</b>
                                            <b style="color: #f8064e; right: 0;">:{{ data.Price}}₫</b>
                                        </span>
                                        {% endfor %}
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-4 col-form-label" for="price">Total Price<span class="text-danger">*</span> </label>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control" id="price" name="price" value="{{ result_orderDetail.Price_Total }}" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-4 col-form-label" for="number">Total Number<span class="text-danger">*</span> </label>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control" id="number" name="number" value="{{ result_orderDetail.Number }}" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-8 ml-auto">
                                    <input type="submit" class="btn btn-primary" value="Submit" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
